@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* LAYOUT */
    .section {
        @apply w-full py-[40px] xl:py-[80px];
    }

    .div {
        @apply mx-auto flex w-full px-[16px] sm:max-xl:max-w-[640px] xl:max-w-[1440px] xl:px-[120px];
    }

    .btn {
        @apply flex items-center justify-center rounded-lg bg-c-orange px-[16px] py-[7px] font-body text-[14px] font-bold text-c-white transition hover:scale-105 hover:bg-gradient-to-r hover:from-[#F25921] hover:to-[#FBB718] xl:py-[10px] xl:text-[16px];
    }

    .btn-outline {
        @apply flex items-center justify-center rounded-lg border-2 border-c-orange bg-c-white px-[14px] py-[7px] font-body text-[14px] font-bold text-c-orange transition hover:scale-105 hover:bg-gradient-to-r hover:from-[#F25921] hover:to-[#FBB718] hover:text-c-white xl:py-[8px] xl:text-[16px];
    }

    /* ANIMATION */
    .card-hover {
        @apply transition hover:-translate-x-[8px] hover:-translate-y-[8px] hover:shadow-solid;
    }

    /* FONTS */
    .font-12 {
        @apply font-body text-[12px] text-c-black xl:text-[14px];
    }

    .font-14 {
        @apply font-body text-[14px] text-c-black xl:text-[16px];
    }

    .font-16 {
        @apply font-body text-[16px] text-c-black xl:text-[20px];
    }

    .font-20 {
        @apply font-body text-[20px] text-c-black xl:text-[24px];
    }

    .font-24 {
        @apply font-heading text-[24px] text-c-black xl:text-[32px];
    }

    .font-32 {
        @apply font-heading text-[32px] leading-tight text-c-black xl:text-[48px];
    }

    .font-36 {
        @apply font-heading text-[36px] leading-tight text-c-black xl:text-[60px];
    }
}

html {
    scroll-behavior: smooth;
}
